parameters:
  level: max
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  scanFiles:
    - tools/phpstan/stubs/DoctrineDBALConnection.stub.php
    - tools/phpstan/stubs/RedisCapability.stub.php
